<header>
  <div class="">
    <div class="headerstip">
      <div class="col-md-2" style="width:15%;">
      <img src="./assets/Images/logo1.png" height="90px" />

    </div>
    <div class="col-md-2 floatLt">
        <p>Welcome {{userdetails.displayName}}</p>
        </div>
      <div  class="col-md-6 pull-right headerRt">
      <!-- <p>RICOH BIDDING PLATFORM</p>
      <a (click)="home()" class="homeClass">Home</a>
      <a (click)="logout()" style="cursor:pointer; float:right;">Logout</a>
      <p class="abtRico">About RICOH</p> -->
      <p>RICOH BIDDING PLATFORM FOR LEASE FINANCE</p>
      <div  class="col-md-2" style="float:right;padding-right:0;width:13%;">
          <a (click)="logout()" class="logout">Logout</a>
      </div>
        <!-- <div  class="col-md-2" class="abtRico">
            <a>About</a>
        </div> -->
        <div  class="col-md-2"  class="homeClass">
            <a (click)="home()">Home</a>
        </div>
       
      </div>
     
      <div class="clear"></div>
    </div>
  </div>
  </header>







<!--

<header>
  <div class = "container">
    <div class="row">
      <div>
      <img src="./assets/Images/Ricoh_logo.jpg" height="90px" /> 
      </div>
      <div class= "col-md-2" style="text-align:right">
          Leasing usecase
      </div>
    </div>
    </div>
    
  </header>


  <div  class="pull-right" style="padding:10px; color: rgb(243, 171, 171);
      font-size: 30px;
      font-weight: bold;">
-->