button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
    background-image: -webkit-linear-gradient(top,#8064A2 0,#8064A2 100%);
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.input-xlarge {
    width: 270px;
}
.btn:hover, .btn:focus {
   
    text-decoration: none;
}

.btn-primary {
    background-repeat: repeat-x;
    border-color: #8064A2;
    padding:4px 0;
    width: 35%;
    margin: 0 auto;
}
.form-control{
    padding: 0.4rem .75rem;
}

.clear{
    clear:both
}
.loginpage
{
    border: 1px solid #e4d2d2;
    margin-top: 3%;
    border-radius: 5px;
    padding: 4px;
    margin: 80px auto;
    max-width:395px;
    padding: 51px 4%;
}